* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    font-size: 16px;
}

.container {
    position: relative;
    background-color: white;
    min-height: 250px;
    max-width: 800px;
    margin: 250px auto 0 auto;
    padding: 50px 50px 80px 50px;
    border-radius: 25px;
}

h1,
h2 { font-weight: 300; }

h1 {
    text-align: center;
    font-size: 200%;
}

h2 {
    font-size: 120%;
    text-align: right;
    padding-top: 30px;
}

button {
    position: absolute;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    -webkit-box-shadow: none;
            box-shadow: none;
    line-height: 200%;
    font-size: 120%;
    width: 150px;
    bottom: 50px;
    -webkit-transition: -webkit-box-shadow 0.8s ease;
    transition: -webkit-box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease, -webkit-box-shadow 0.8s ease;
    opacity: 0;
}

button:hover {
    -webkit-box-shadow: 0 13px 10px -10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 13px 10px -10px rgba(0, 0, 0, 0.4);
}

button:focus { outline: none; }

@media (max-width: 768px) {
    body { font-size: 14px; }

    h2 { padding-top: 15px; }

    .container {
        min-height: 250px;
        margin: 150px 15px 0 15px;
        padding: 50px 20px 50px 20px;
    }

    button { bottom: 15px; }
}

@media (max-width: 576px) {
    body { font-size: 12px; }

    .container {
        min-height: 150px;
        margin: 100px 15px 0 15px;
        padding: 25px 15px 60px 15px;
    }
}

